# Exclude logs
*.log

# Exlude NMAP output
*.gnmap
*.nmap
*.xml

# No config files, but keep config samples
/src/nodenomicon/conf-pool/*
!/src/nodenomicon/conf-pool/*.sample
/src/docker-build/wrapper/conf-pool/*
!/src/docker-build/wrapper/conf-pool/*.sample

# Keep empty directories
/src/nodenomicon/work/*
!/src/nodenomicon/work/.gitkeep
/src/docker-build/wrapper/work/*
!/src/docker-build/wrapper/work/.gitkeep

# No scan data for 'htmlprogress'
/src/nodenomicon/htmlprogress/*
!/src/nodenomicon/htmlprogress/index.html